*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: inter;
    font-size:62.5%;

}

h1{
    font-size: 2.1rem;
    font-weight: 900;
}

.tagline{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 22px;
    color:#484848;
    display: none;
}

.menu,.contribute{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    border: 3px solid black;
    border-radius:10px;
    padding: 8px 18px;
}

.nav,
.side_nav,
.dropdown,
.scroll{
    display:none;
}

.nav_bar{
    display: flex;
    width: 327px;
    padding-bottom: 28px;
    justify-content: space-between;
    margin-top: -25px;
}

.white{
    background-color: white;
}

.toggle{
    display: flex;
    gap: 16px;
}

.author{ 
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    gap: 32px;
    text-decoration:underline;
    margin: 16px auto;
    padding-bottom: 8px;
}

.hero{
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: black;
    width: 280px;

}

.generate{
    background-color: black;
    color: white;
    font-size: 1.4rem;
    gap: 12px;
    padding: 12px 22px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate img,
.share img{
    height: 22px;
}

.share{
    background-color: black;
    padding: 12px 15px;
    border-radius: 10px; 
}

.btn1{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 22px auto;
}

.btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 22px auto;
}

.color{
    font-size:1rem;
}

.box{
    width: 50px;
    height: 22px;
    border-radius: 1 px;
}

.box1{background-color: #76B8F4;}
.box2{background-color: #7683F4;}

.rect{
    display: flex;
}

.palette{
    display: flex;
    gap:38px;
    align-items: center;
    margin-top: 90px;
    padding: 22px auto;
}

.font{
    display: flex;
    align-items: center;
    gap: 58px;
    font-size:1rem;
    padding-top: 22px;
    padding-bottom: 14px;
}

.nunito{
    font-family: nunito;
    font-size: 20px;
    text-decoration:underline;
}

.hero_{
    background-color: #FFCD9E;
    padding: 18px;
    border: 4px solid black;
    border-radius: 12px;
    width: 327px;
    box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.25);
}

.hero_class{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    width:327px;
    padding-bottom: 2rem;
}

.tag{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    width:327px;
    padding-bottom: 2rem;
}

.show_me h3{
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 32px;
}

.show_me{
    display: flex;
    gap: 16px;
    width: 326px;   
    align-self: center;
    align-items: center;
    padding-bottom: 16px;
}

.register input{
    height: 62px;
    width: 327px;
    border-radius: 8px;
    border: 4px solid black;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 20px;
}

.show_me img{
    height: 28px;
}

.spam{
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;
}

.section2{
    display: flex;
    flex-direction: column;
    background-color: #FFCD9E ;
    align-items: center;
    justify-content: center;
    padding-top:60px;
    gap:28px;
}

button{
    padding: 18px 45px;
    color: #fff;
    background-color: #282828;
    border-radius: 12px;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 700;
    border: none;

}

.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 28px 0;
    gap: 12px;
}
 
.man img{
    height: 326px;
}

.figure{
    align-items: center;
}

.find{
    text-align: center;
    align-items: center;
    width: 60%;
    color:#282828;
}

.insta{
    padding: 18px 45px;
    color: #FFCD9E;
    background-color: #282828;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    gap: 12px;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    gap: 38px;
}

.text{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.2rem;
    width: 327px;
    padding: 16px 0;
    color: #484848;
}

span{text-decoration: underline;}

.name{
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}

.career{
    font-size: 1rem;
    display: flex;
    color: #888888;
    align-items: center;
    gap: 12px;
    font-weight: 600;
    justify-content: center;
    padding: 10px 0;

}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.users{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding:55px 0;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_text{padding-bottom: 1.8rem;}

.contribute_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.contributors{
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 60px 0;
}

h3,h4{
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 2.1rem;
    font-weight: 900;
    width:327px;
}
.user1{
    display: flex;
    align-items: center;
    gap: 38px;
    padding: 18px 0;
    width: 327px;

}

.user1 img{
    height:100px;
}

.career1{
    font-size: 1rem;
    display: flex;
    color: #888888;
    gap: 12px;
    font-weight: 600;
    padding: 10px 0;
}

.user_contributions{
    padding: 18px 0;
}

.see_all{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    text-decoration: underline;
}

footer{
    background-color: #282828;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding:60px 0;
    align-items: center;
}

.content p,
.contact_detail p,
.contact img{
    font-size: 1.2rem;
    font-weight: 400;
    width: 327px;
    padding: 10px 0;
}

.social_media{
    display: flex;
    gap: 12px;
}

form{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 60px;

}

label{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: start;
    width: 327px;
}

input,textarea{
    font-size: 1.21rem;
    color: #999999;
    padding: 14px;
    border: 4px solid black;
    border-radius: 10px;  
    width: 327px;
    margin-bottom: 32px;
    font-family: inter;
    line-height: 1.8rem;

}

select{
    font-weight: 600;
    font-size: 1.2rem;
    padding: 12px;
    border: 4px solid black;
    border-radius: 10px;
    width: 327px;
    margin-top: 12px;
    margin-bottom: 8px;
    background-color: #FFCD9E;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    height: 64.78px;
  
}

select>option{
    font-size: 1rem;
    color: #999999;
    padding: 12px;

}

.category{
    margin-bottom: 32px;
    margin-top: 0;
}

.btn{
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.see_all{
    font-size: 1.2rem;
}


@media only screen and (min-width:800px){
.tagline{display: block;}

.hero_class{
    display: block;
   }

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;

   }

.tagline{
    font-size: 1rem;
   }

.nav{
    display:flex;
    align-items: center;
    gap: 82px;
    font-size: 1.2rem;
    align-content: center;
    justify-content: center;
   }

.nav_bar{
    display: flex;
    width: 100%;

    justify-content: space-between;
    margin-top: -32px;

   }

.nav p{
    font-size: 1rem;
    white-space: nowrap;
}

.menu{
    display: none;
   }

.hero_class{
    margin: 80px;
    display: flex;
    margin: 4rem 6rem ;
    align-items: flex-start;

}

.section2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 60px 6rem;
    height: 90vh;
}

.man img{
    height: 70vh;
}

.register{
    align-items:flex-start;
    margin: 12px 0;
}

button,.insta{
    font-size: 1rem;
    padding: 18px 45px;
    height: 62px;
}

h2{
    width: 512px;
    font-size:1.8rem;
    line-height: 2.7rem;    
}

.tag{
    width: 460px;
    font-size: 1.1rem;
    line-height:1.8rem;
   
}

.btn{
    flex-direction: row;
    align-items: center;
}

.show_me h3{
    font-size: 1.2rem;
}

.show_me img{
    height: 24px;
}

.social{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 6rem;
}

.links{
    display: flex;
    flex-direction: row;
}

.find{
    padding: 0;
    width: 340px;
}

.about{
    flex-direction: row;
}

.users{
    flex-direction: row;
    gap: 115px;
    margin-top: 52px;
}


.about{
    justify-content: space-between;
    margin: 0 6rem;
    padding: 60px 0;
}

.text{
    width:400px ;
}

input[id="email"]{
    margin-bottom: 0;
}

.contribute_left{
    display: flex;
    flex-direction: column;
}

.contribute_left h2{
    width: 400px;
}

.contribute1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 6rem;
}

textarea{
    width: 550px;

}

form{
    align-items: flex-start;
    margin-top: 148px;
}

label{
    font-size: 1rem;
}

input, .category{
    width: 550px;
}

select>option{
    font-size: 1rem;
    color: #999999;
    padding: 12px;
    background-color: #fff;
}

h4{
    width: 500px;
}

.user_contributions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-top: 30px;

}

footer{
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 6rem;
}

.tagline{
    width: 220px;
    margin: 3px;
}


.scroll{
    display: block;
    align-self: center;
}

.hero_{
    width: 64vw;
}

.hero{
    width: 650px;
    padding-bottom: 22px; 
}

.scroll img{
     width: 18px;
     padding-top: 6px;
}

.author{
    gap:520px;
}

.scroll{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;

}

.bottom{
    display: flex;
    gap: 112px;
    align-content: center;
    margin-bottom: 32px;
}

.palette{
    margin:0;
}

.font{
    padding: 0;
}

.scroll{
    margin-top: 32px;
}

.side_nav{
    display: flex;
    flex-direction: column;
    height: 380px;
    border: 4px solid black;
    border-radius:12px 0 0 12px;
    gap: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 22px;
    width: 20vw;
    color: #999999;
    border-right: none;
    box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.25);

}

.ux{
    color: black;
    display: flex;
    gap: 12px;
    align-items:center;
}


.hero_{

    border-radius: 0 12px 12px 0;
}

.dropdown-menu{ 
font-weight: 600;
font-size: 1.2rem;
padding: 12px;
border: 4px solid black;
border-radius: 10px;
width: 270px;
margin-bottom:22px ;
}

.content p,
.contact_detail p{
    font-size:1rem;
}

form button{
    align-items: end;
    justify-content: right;
    margin-top: 2rem;
    align-self: flex-end;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

}

